body {
    margin: 0;
    padding: 0;
}

a {
    color: #ff7a05;
    text-decoration: none;
    padding: 3px 5px;
    margin: -3px -5px;
    border-radius: 4px;
}

a:hover {
    background-color: #f5fccc;
}

p {
    margin: 0;
    margin-bottom: 1em;
}

p:last-child {
    margin-bottom: 0;
}

small {
    font-size: 85%;
    line-height: 150%;
}

h1 {
    margin: 20px;
    font-family: monospace;
    font-weight: 400;
    font-size: 40px;
    line-height: 60px;
    color: #ccc;
}

h1 strong {
    font-weight: 700;
}

h2 {
    margin: 0;
    margin-bottom: 1em;
    font-weight: 700;
    font-size: 24px;
}

body, .container, .col {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.container {
    width: 100%;
}

.col {
    float: left;
    width: 48.5%;
    margin: 0;
    margin-right: 1%;
}

.col:first-child {
    margin-left: 1%;
}

.box {
    padding: 1em;
    border: solid 1px #eee;
    border-radius: 0.5em;
    margin-bottom: 10px;
}

.sample {
    display: block;
    white-space: pre-wrap;
    font-size: 14px;
    line-height: 22px;
}

.keyword, .operator {
    color: #ff7a05;
}

.string {
    color: #409b1c;
}

.builtin, .number, .symbol {
    color: #3b5bb5;
}

.comment {
    color: #ccc;
}

.item {
    display: block;
    margin: -10px;
    padding: 3px 7px;
    border-radius: 4px;
    cursor: pointer;
}

.highlighted {
    background-color: #f5fccc;
}

.help {
    font-size: 22px;
    font-family: "Droid Sans", "Helvetica", "Arial", sans;
    line-height: 38px;
}
